.first-section {
  color: $white;
  .subsection {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: top right;
    @include media-breakpoint-down(md) {
      background-size: 340px auto;
      padding-top: 220px;
      padding-bottom: 50px;
      background-position: top right -40px;
    }
  }
  .main-title {
    font-size: 6.4rem;
    height: 64px;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      font-size: 3.6rem;
      height: auto;
      line-height: 46.8px;
      min-height: 86px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .main-info {
    max-width: 530px;
    font-family: 'Roboto', sans-serif;
    min-height: 79px;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.6rem;
    @include media-breakpoint-down(md) {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 21px;
    }
  }
  .digit-container {
    padding: 10px 10px 50px;
    font-size: 1.8rem;
    font-weight: 500;
    .digit {
      color: $secondary-color;
      font-size: 3.6rem;
    }
  }
  .slick-dots {
    position: absolute;
    right: 50px;
    bottom: 100px;
    @include media-breakpoint-down(md) {
      left: 20px;
      right: 20px;
      bottom: 20px;
      text-align: center;
      li {
        display: inline-block;
      }
    };
  }
  .slider-nav {
    .slider-nav-item {
      border-top: 1px solid rgba($blue-low, .5);
    }
    .text-block {
      &:before {
        content: '';
        display: inline-block;
        height: 1px;
        background: white;
        position: absolute;
        left: 0;
        right: 100%;
        transition: .2s;
        top: -1px;
        box-shadow: 0 0 rgba(0, 0, 0, 0);
      }
      position: relative;
      width: 80%;
      color: $blue-low;
      padding: 23px 0 40px;
      .bigger {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
      .smaller {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
    }
    .slider-nav-item.active {
      .text-block {
        &:before {
          right: 0;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
        }
        .bigger {
          color: white;
        }
      }
    }
  }
}