.navbar {
  min-height: 60px;
  font-size: 1.4rem;
  padding: 30px 0;
  transition: background 150ms ease-in, padding 150ms 150ms;
  background: $black-default;
  h1 {
    color: $orange;
    font-size: 3.6rem;
  }
  a {
    color: $white;
    font-size: 2.97rem;
  }
  .form-wrapper {
    max-width: 240px;
  }
}
.navbar-toggler-icon {
  position: relative;
  height: 20px;
  width: 20px;
  $animation-time: 150ms;
  @mixin normal() {
    transform-origin: center;
    transition: 150ms;
    .navbar-toggler-icon-line, &:after, &:before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 1px;
      background: $white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: $animation-time;
    }
    &:before{
      margin-top: 2px;
      transition: $animation-time;
    }
    &:after{
      margin-bottom: 2px;
      transition: $animation-time;
    }
  }
  @mixin expanded() {
    transform: rotate(45deg);
    &:before {
      transform: translateY(5px) rotate(180deg);
    }
    .navbar-toggler-icon-line {
      transform: rotate(90deg) translateX(-2px);
    }
    &:after {
      opacity: 0;
    }

  }

  @include normal();
  .navbar-toggler[aria-expanded=true] & {
    @include expanded();
  }
}
header {
  height: 163px;
}
@include media-breakpoint-down(md) {
  .navbar {
    padding: 5px 8px;
    min-height: 68px;
    .navbar-brand img {
      height: 40px;
    }
    h1 {
      font-size: 1.4rem;
      width: 200px;
    }
    a {
      font-size: 1rem;
      font-weight: normal;
    }
    .form-wrapper {
      max-width: none;
    }
  }
  header {
    height: 68px;
  }
}