.section-products {
  padding-top: 110px;
  padding-bottom: 70px;
  @include media-breakpoint-down(md) {
    padding-top: 70px;
  }
  .pill-tabs-container {
    overflow-y: hidden;
    height: 80px;
  }
  .pill-tabs {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    padding: 20px 0 30px;
    text-align: center;
    .pill {
      display: inline-block;
      text-align: center;
      font-size: 1.6rem;
      height: 40px;
      line-height: 40px;
      width: 180px;
      border-radius: 20px;
      border: 1px solid $white;
      color: $white;
      margin: 0 20px;
      cursor: pointer;
      transition: 0s;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active, &:hover {
        background-color: $white;
        color: $blue;
        transition: .2s;
      }
      @include media-breakpoint-down(md) {
        margin: 0 5px;
      }
    }
  }
  .product-item-content {
    height: 200px;
    border-radius: 40px;
    background-color: $blue-secondary;
    color: $white;
    padding: 30px;
    width: 280px;
    margin: 30px auto;
    p {
      font-size: 1.6rem;
      line-height: 2rem;
      width: 200px;
      margin: 0 auto;
    }
  }
}