/* Base Styles -------------------- */
html {
  font-size: 10px;
}
body {
  font-family: 'GTWalsheimPro', sans-serif;
  font-size: 1.6rem;
}

a {
  color: $link-color;
}
h1, .h1 {
  font-size: 6.4rem;
  font-weight: bold;
}
h2, .h2 {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
}
h3, .h3 {
  font-size: 2.4rem;
  font-weight: normal;
  color: inherit;
  &.bigger {
    font-size: 2.4rem;
  }
}
h4, .h4 {
  font-size: 2rem;
  font-weight: 500;
  color: $black-default;
}