.text-uppercase {
  text-transform: uppercase;
}
.pt-12 {
  padding-top: 120px;
}
.pt-11 {
  padding-top: 110px !important;
}
.pt-50 {
  padding-top: 50px;
}
.pt-6 {
  padding-top: 60px;
}
.pb-12 {
  padding-bottom: 120px;
}
.pb-11 {
  padding-bottom: 110px !important;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-6 {
  padding-bottom: 60px;
}
.py-12 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.py-11 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}
.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pl-45 {
  padding-left: 45px !important;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}
.mb-20 {
  margin-bottom: 2rem !important;
}
.mb-25 {
  margin-bottom: 2.5rem !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-6 {
  margin-bottom: 60px !important;
}
.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.my-6 {
  margin-top: 60px;
  margin-bottom: 60px;
}
@include media-breakpoint-up(md) {
  .px-md-9 {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}
.font-bigger {
  font-size: 1.6rem;
}
.fadein-left {
  animation: fadein-left 200ms ease-in forwards;
}
.fadein-right {
  animation: fadein-right 200ms ease-in forwards;
}
.fadeout-left {
  animation: fadeout-left 200ms ease-out forwards;
}
.fadeout-right {
  animation: fadeout-right 200ms ease-out forwards;
}
.big-number {
  font-size: 3.6rem;
  font-family: 'GothamPro', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: transparent;
  background: $main-color; /* Old browsers */
  background: -moz-linear-gradient(top, #31bd9b 0%, #5d97d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #31bd9b 0%,#5d97d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #31bd9b 0%,#5d97d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31bd9b', endColorstr='#5d97d4',GradientType=0 ); /* IE6-9 */
  -webkit-background-clip: text;
}
.number-container {
  .big-number {
    margin-bottom: 0;
  }
}
.round-30 {
  width:  30px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: $white;
  border: 1px solid transparent;
}
.round-25 {
  width:  25px;
  height: 25px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: $white;
  border: 1px solid transparent;
}
.spin-me {
  animation: spin-me infinite 800ms ease-in-out both;
}


@include media-breakpoint-only(xs) {
  .word-break-xs-only {
    word-break: break-word;
  }
}

@include media-breakpoint-up(md) {
  .pl-md-0 {
    padding-left: 0 !important;
  }
}

.gradient-bg {
  background-color: $blue;
  background-image: linear-gradient(to right, $blue-gr1, $blue-gr2);
}

.section-heading {
  color: $black-default;
  font-size: 3.6rem;
  margin-bottom: 20px;
  font-weight: 500;
  @include media-breakpoint-down(md) {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  &.inversive {
    color: white;
  }
}
.section-subheading {
  font-family: 'Roboto', sans-serif;
  color: $lightgray-default;
  font-size: 2rem;
  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
  }
  &.inversive {
    color: rgba(white, .5);
  }
}