.color-main {
  color: $main-color;
}
.bg-main {
  background-color: $main-color;
}
.border-main {
  border-color: $main-color;
}
.color-secondary {
  color: $secondary-color;
}
.color-white {
  color: $white;
}
.color-gray {
  color: $gray-default;
}
.bg-gray {
  background: $gray-default;
}
.color-gray-secondary {
  color: $gray-secondary;
}
.color-whitegray {
  color: $whitegray-default;
}
.bg-whitegray {
  background-color: $whitegray-default;
}
.color-black-default {
  color: $black-default;
}
.color-black-secondary {
  color: $black-secondary;
}
.color-lightgray-default {
  color: $lightgray-default;
}
