//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image     :   '../img';
$path-fonts     :  '../fonts';
$path-font-main: $path-fonts + '/Montserrat';
$orange: #f26f16;
$white: #ffffff;
$black: #000000;
$black-default: #1d1e1f;
$gray-default: #4d4e4f;
$lightgray-default: #B3B3B3;
