//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image     :   '../img';
$path-fonts     :  '../fonts';
$path-font-main: $path-fonts + '/GTWalsheimPro';
$green: #2bc9b4;
$green-secondary: #3db0a1;
$blue: #273fc0;
$blue-secondary: #233ea6;
$blue-low: #709be7;
$blue-gr1: #311fd7;
$blue-gr2: #2059ad;
$link-color: #4286CC;
$main-color: $blue;
$secondary-color: $green;
$white: #ffffff;
$black: #000000;
$black-default: #3d3d3d;
$black-secondary: #373737;
$gray-secondary: #747474;
$gray-default: #3d3d3d;
$lightgray-default: #b5b5b5;
$lightgray-secondary: #B3B3B3;
$whitegray-default: #F2F2F2;
$whitegray-secondary: #EFEFEF;
$whitegray-lightest: #FCFCFC;
